App {
  text-align: center;

}

#timer {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}